@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600;800&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: #f2f2f2;
}

header {
  background-color: #333;
  padding: 2vh;
}

.toggle-modenoturn {
  padding-left: 2vh;
}

.toggle-modenoturn span{
  font-size: 4vh;
}

.material-symbols-outlined {
  color: #fff;
}

.container-main {
  max-width: 60vh;
  height: max-content;
  margin: 0 auto;
  margin-top: 15vh;
  background-color: #fff;
  border-radius: 2vh;
  padding: 2vh;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.container-main h1 {
  font-size: 3vh;
  margin: 0;
  padding: 0;
}

.container-main h1 a {
  text-decoration: none;
  color: #333;
}

.container p {
  font-size: 18px;
  color: #555;
  padding-top: 10vh;
  text-align: center;
}

a{
  text-decoration: none;
}

.button-indexpage {
  text-align: center;
  margin-top: 10vh;
}

.register-button,
.login-button {
  display: inline-block;
  margin: 10px;
  padding: 15px 30px;
  background-color: #333;
  color: #fff;
  border-radius: 5px;
  transition: background-color 0.2s;
}

.register-button a,
.login-button a {
  color: #fff;
}

.register-button:hover,
.login-button:hover{
  background-color: #555;
}

.material-symbols-outlined:hover{
  cursor: pointer;
  color: #c7c7c7;
}

.footer {
  background-color: #333;
  color: #fff;
  padding: 2.5vh;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.footer p {
  margin: 0;
  padding: 0;
}