*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background-color: #ffffff;
}

header {
  background-color: #252525;
  padding: 1vh;
}

/*---------------------------------------------------*/

a{
  text-decoration: none;
}

.material-symbols-outlined{
  color: #fff;
}

.material-symbols-outlined:hover{
  cursor: pointer;
  color: #c7c7c7;
}

.footer {
  background-color: #252525;
  color: #fff;
  padding: 1vh;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.footer p {
  margin: 0;
  padding: 0;
}

.container-index {
  padding: 3vh;
}

.container-index h1{
  text-decoration: underline;
}

.header-index {
  display: flex;
}

.buttons-interaction-index {
  display: flex;
  margin-left: 75%;
}

.button-interaction-index {
  display: flex;
  margin-right: 2vh;
}

.login-button-index,
.register-button-index{
  margin-top: 1vh;
  margin-left: 2vh;
  font-size: 2vh;
  border-radius: 1vh;
  border: none;
  cursor: pointer;
}

.login-button-index a,
.register-button-index a{
  font-weight: bold;
  color: #fff;
}

.login-button-index a:hover,
.register-button-index a:hover{
  color: #8b8b8b;
}

.toggle-modenoturn{
  margin-top: 1vh;
  font-size: 2.5vh;
}

.toggle-modenoturn span{
  font-size: 2.7vh;
}

/*---------------------------------------------------*/

.header-login{
  display: flex;
}

.toggle-modenoturn-login{
  margin-top: 1vh;
  font-size: 2.5vh;
  margin-left: 80%;
}

.toggle-modenoturn-login span{
  font-size: 2.7vh;
  text-align: end;
}

.container-login {
  max-width: 60vh;
  height: 55vh;
  margin: 0 auto;
  margin-top: 15vh;
  background-color: #fff;
  border-radius: 2vh;
  padding: 2vh;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.container-login h1 {

  font-size: 32px;
  padding-top: 1vh;
  color: #333;
  text-align: center;
}

.container-login p {
  font-size: 18px;
  color: #555;
  padding-top: 1vh;
  text-align: center;
}

.form form .inputs-login{
  margin-top: 2vh;
  display: flex;
  flex-direction: column;
}

.form form .input-login{
  padding-top: 3vh;
  display: flex;
  flex-direction: column;
}

.form form .button-login{
  display: flex;
  justify-content: center;
  padding-top: 4vh;
}

.redirectpage-login{
  margin-top: 2.5vh;
  display: flex;
  flex-direction: column;
}

.redirectpage-login a{
  text-decoration: underline;
}

/*---------------------------------------------------*/
.container-register {
  max-width: 60vh;
  height: 63vh;
  margin: 0 auto;
  margin-top: 10vh;
  background-color: #fff;
  border-radius: 2vh;
  padding: 2vh;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.container-register h1 {
  font-size: 32px;
  padding-top: 1vh;
  color: #333;
  text-align: center;
}

.container-register p {
  font-size: 18px;
  color: #555;
  padding-top: 1vh;
  text-align: center;
}

.form form .inputs-register{
  margin-top: 1vh;
  display: flex;
  flex-direction: column;
}

.form form .input-register{
  padding-top: 2vh;
  display: flex;
  flex-direction: column;
}


.form form label{
  font-weight: 600;
  color: rgb(31, 35, 40);
  font-size: 14px;
}

.form form input{
  font-size: 1.5vh;
  padding-left: 1vh;
  height: 4.5vh;
  border-radius: 1vh;
  border: 0.1px solid;
  color: inherit;
}

.form form .button-register{
  display: flex;
  justify-content: center;
  padding-top: 4vh;
}

.form form button{
  font-size: 1.9vh;
  width: 60vh;
  height: 4.5vh;
  background-color: rgb(31, 136, 61);
  color: #fff;
  border: none;
  border-radius: 1vh;
}

.form form button:hover{
  cursor: pointer;
  background-color: #1c6b19;
}

.redirectpage-register{
  margin-top: 2.5vh;
  display: flex;
  flex-direction: column;
}

.redirectpage-register a{
  text-decoration: underline;
}

/*---------------------------------------------------*/

.header-dashboard{
  display: flex;
  align-items: center;
}

.logoname a{
  color: #fff;
  font-size: 2.5vh;
  margin-left: 2vh;
}

.logoname a:hover{
  color: #8b8b8b;
}

.container-dashboard {
  padding: 3vh;
}

.container-dashboard h1{
  text-decoration: underline;
}

.posts {
  width: max-content;
  margin-top: 6vh;
  margin-left: 20vh;
}

.post {
  margin-top: 3vh;
  margin-bottom: 2vh;
  color: #333;
  font-size: 2.6vh;
}

.post span {
  font-weight: bold;
}

.post span a{
  color: #333;
}

.post span a:hover{
  text-decoration: underline;
}

#manage_noturnmode{
  font-size: 3.8vh;
  margin-right: 5vh;
}

#manage_accounts{
  font-size: 3.8vh;
  margin-left: 2vh;
  margin-right: 2vh;
}

.button-interaction-dashboard{
  display: flex;
}

.buttons-interaction-dashboard{
  margin-left: 73%;
}

.logout-button-dashboard{
  margin-left: 2vh;
  margin-top: 1vh;
  font-size: 2vh;
  border-radius: 1vh;
  border: none;
  cursor: pointer;
}

.logout-button-dashboard a{
  font-weight: bold;
  color: #fff;
}

.publish-button a{
  color: #fff;
  font-weight: bold;
}

.publish-button {
  border-radius: 1vh;
  background-color: #333;
  color: #fff;
  padding: 10px 16px;
  font-size: 2vh;
  border: none;
  cursor: pointer;
  margin-left: -3vh;
}

.publish-button:hover{
  background-color: #8b8b8b;
}

.logout-button-dashboard a:hover{
  color: #8b8b8b;
}

.sub-content-post{
  color: #8b8b8b;
  margin-top: -0.1vh;
  margin-left: 3vh;
  font-size: 1.5vh;
}

.sub-content-post span a{
  color: #8b8b8b;
}

/*---------------------------------*/

textarea {
  resize: none;
}

.container-newpost h1{
  text-align: center;
  font-size: 3vh;
  margin-top: 4vh;
}

.container-newpost {
  max-width: 80vh;
  margin: 0 auto;
}

.form-group {
  margin-top: 5vh;
  margin-bottom: 5vh;
}

.form-group label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}

.form-group input {
  height: 4vh;
  width: 50%;
  padding: 1vh;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.form-group textarea {
  height: 200px;
  width: 100%;
  padding: 10px;
  font-size: 14px;
  border: 1px solid #d4d4d4;
  border-radius: 4px;
}

.btn-cancel{
  padding: 10px 20px;
  font-size: 16px;
  background-color: #ff0000;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.btn-publish{
  padding: 10px 20px;
  font-size: 16px;
  background-color: #09d83d;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.btn-publish:hover {
  background-color: #45a049;
}

.btn-cancel:hover {
  background-color: #ee3d3d;
}

.btn-newpost button{
  margin: 1vh;
}

/*-----------------------*/
.container-changepass {
  max-width: 50vh;
  height: 40vh;
  margin: 0 auto;
  margin-top: 20vh;
  background-color: #fff;
  border-radius: 2vh;
  padding: 2vh;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.container-changepass h1 {

  font-size: 32px;
  padding-top: 1vh;
  color: #333;
  text-align: center;
}

.container-changepass p {
  font-size: 18px;
  color: #555;
  padding-top: 1vh;
  text-align: center;
}

