<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
</head>
<body>

    <header>
        <div class="toggle-modenoturn">
            <span class="material-symbols-outlined">
                dark_mode
            </span>
        </div>
    </header>

    <main>
        <div class="container-login">
            <h1>login</h1>
            {% if error %}
                <p>{{ error }}</p>
            {% endif %}
            <div class="form">
                <form method="post" action="{{ url_for('login') }}">
                    <div class="inputs-login">
                        <div class="input-login">
                            <label for="username">username or email</label>
                            <input type="text" name="username" placeholder="username, email..." required>
                        </div>
                        <div class="input-login">
                            <label for="password">password</label>
                            <input type="password" name="password" placeholder="password" required>
                        </div>
                        <div class="button-login">
                            <button type="submit">login</button>
                        </div>

                    </div>
                </form>
                <div class="redirectpage-login">
                    <p>new to Pawn Network? <a href="{{ url_for('register') }}">create your account here</a>.</p>
                    <p>forgot your password? <a href="">click here</a>.</p>
                </div>
            </div>
        </div>
    </main>

    <footer>
        <div class="footer">
            <p>&copy; 2023 Pawn Network. All rights reserved.</p>
        </div>
    </footer>
</body>
</html>
