<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
</head>
<body>
    <header>
        <div class="toggle-modenoturn">
            <span class="material-symbols-outlined">
                dark_mode
            </span>
        </div>
    </header>
    <main>
        <div class="container-register">
            <h1>Register</h1>
            {% if error %}
                <p>{{ error }}</p>
            {% endif %}
            <div class="form">
                <form method="post" action="{{ url_for('register') }}">
                    <div class="inputs-register">
                        <div class="input-register">
                            <label for="email">email</label>
                            <input type="email" name="email" placeholder="email" required>
                        </div>
                        <div class="input-register">
                            <label for="username">username</label>
                            <input type="text" name="username" placeholder="username" required>
                        </div>
                        <div class="input-register">
                            <label for="password">password</label>
                            <input type="password" name="password" placeholder="password" required>
                        </div>
                        <div class="button-register">
                            <button type="submit">register</button>
                        </div>

                    </div>
                </form>
                <div class="redirectpage-register">
                    <p>already have an account? <a href="{{ url_for('login') }}">enter your account</a>.</p>
                </div>
            </div>
        </div>
    </main>
    <footer>
        <div class="footer">
            <p>&copy; 2023 Social Network. All rights reserved.</p>
        </div>
    </footer>
</body>
</html>
